@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.active {
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}
/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
}

.nav-link {
    display: flex;
    align-items: center;
    
}

.nav-link li {
    margin: 0 30px;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url(images/swiss-valley.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: black;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ctn {
    padding: 8px 15px; 
    background: #fc036b;
    border-radius: 30px;
    color: black;
}

/* Events */
section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: rgb(73, 73, 126);
}

.row {
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row .col img {
    width: 80%;
}

.events .row {
    margin-top: 50px;
}

h3 {
    font-size: 3vmin;
    color: black;
    margin: 20px auto;
}

p {
    color: #7c7c7c;
    padding: 0px 40px;
}

.events .ctn {
    margin-top: 30px;
}

/* FOOTER */
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}

.footer p {
    color: black;
    margin: 20px auto;
}
